.admin_category_border{
    display: flex;
    width: 100%;
    /* border: 1px solid green; */
    min-height: 100px;
}
.admin_category_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid #dad9d9;
    min-height: 400px;
}
.c_c{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    /* border: 1px solid green; */
    margin-bottom: 30px;
    margin-top: 30px;
}
.c_c p{
    font-family: montserrat-bold;
    color: #4BB1F7;
    font-size: 40px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.admin_details_room{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px;
    /* border: 1px solid green; */
}
.form_arc{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.n_p_c{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    gap: 10px;
    margin-bottom: 20px;
    /* border: 1px solid blue; */
}
.label_category_name{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 30px;
    /* border: 1px solid red; */
}
.cat_lab_name{
    font-family: montserrat-medium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #424857;
}
.input_name_category{
    font-family: montserrat-medium;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    font-family: heebo;
    width: 70%;
    height: 15px;
    border: 1px solid #dad9d9;
    border-radius: 4px;
    resize: vertical;
    margin-left: 10px;
}
input[type=text]{
    padding: 10px;
    font-family: montserrat-medium;
    letter-spacing: 1px;
}
.price_category{
    width: 50%;
    /* border: 1px solid red; */
}
.price_category_label{
    font-family: montserrat-medium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #424857;
}
.input_type_category{
    font-family: montserrat-medium;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    font-family: heebo;
    width: 50%;
    height: 15px;
    border: 1px solid #dad9d9;
    border-radius: 4px;
    resize: vertical;
    margin-left: 10px;
}
input[type=number]{
    padding: 10px;
    font-family: montserrat-medium;
    letter-spacing: 1px;
    color: #424857;
}
.category_description_label{
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 100%;
    min-height: 45px;
    margin-bottom: 30px;
    /* border: 1px solid blue; */
}
.category_description{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 10px;
}
.desc_lab{
    margin-left: 30px;
    font-family: montserrat-medium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #424857;
}
.div_category{
    width: 100%;
    /* border: 1px solid red; */
}
.description_text_label_category{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  width: 90%;
  padding: 10px;
  height: 50px;
  border: 1px solid #dad9d9;
  border-radius: 4px;
  resize: vertical;
  resize: none;
  margin-left: 60px;
  font-family:montserrat-medium;
  font-size: 15px;
  letter-spacing: 1px;
  color: #424857;
}
.category_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
    /* height: 20%; */
}
.submit_category_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2FA83F;
    height: 45px;
    border: none;
    width: 10%;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 85%;
}
input[type=submit]{
    font-family: montserrat-medium;
    font-size: 15px;
    color: white;
}
.table_cont_container{
    margin-top: 30px;
}
.description_text_label_category:focus, .description_text_label_category:active{
    outline: none;
}
.table_cont_container {
    width: 100%;
    /* border: 1px solid red; */
}
 .tableMainCont {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }

 .tableCont {
     border: 1px solid #dfdede;
     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
     width: 99.9%;
 }

 table {
     font-family: 'montserrat-medium';
     border-collapse: collapse;
     width: 100%;
     color: #424857;
 }

 td,
 th {
     padding: 8px;
     text-align: center !important;
 }


 .thRight {
     border-radius: 0 15px 0 0;
 }

 td {
     font-size: 14px;
     padding-top: 15px !important;
     padding-bottom: 15px !important;
     vertical-align: middle;
 }

 th {
     text-transform: uppercase;
     font-family: 'montserrat-bold';
     font-size: 17px;
     padding: 20px !important;
     background: #F1F1F1;
 }

 .defBtn {
     padding: 7px 10px;
     border: none;
     border-radius: 3px;
     font-family: 'montserrat-medium';
     color: white;
 }

 .editBtn {
     background-color: #4BB1F7;
     text-decoration: none;
 }

 .deletebtn {
     background-color: #FF5D5D;
     text-decoration: none;
 }

 .category_content_name {
     text-align: justify !important;
 }

 .category_content_description {
     text-align: justify !important;
     width: 40%;
 }

 .category_buttons_action {
     display: flex;
     width: 100%;
     flex-direction: row;
     gap: 3px;
 }