

.gallery_container{
    display: flex;
    width: 100%;
    /* border: 1px solid green; */
    min-height: 100px;
}
.gallery_image_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid #dad9d9;
    min-height: 600px;
    /* border: 1px solid green; */
}
/* Center website */
.main_gallery {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    font-family: Montserrat-bold;
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
    /* border: 1px solid red; */
    
}
.title_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* border: 1px solid green; */
    margin-bottom: 10px;
}
.gallery_text{
    display: flex;
    /* border: 1px solid green;  */
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gallery_text h1 {
    font-family: montserrat-bold;
    text-decoration: none;
    color: #424857;
    font-size: 50px;
}
.buttom_gallery{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}
.gallery_all{
    display: flex;
    border: none;
    outline: none;
    height: 44px;
    background-color: white;
    /* border: 1px solid green; */
}
.btnm{
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 110px;
    height: 40px;
    /* border: 1px solid green; */
}
.btnm p{
    font-family: montserrat-bold;
    letter-spacing: 1px;
}
.gallery_wedding{
    display: flex;
    border: none;
    outline: none;
    height: 44px;
    background-color: white;
    /* border: 1px solid green; */
}
.gallery_birthday{
    display: flex;
    border: none;
    outline: none;
    height: 44px;
    background-color: white;
    /* border: 1px solid green; */
}
.gallery_people{
    display: flex;
    border: none;
    outline: none;
    height: 44px;
    background-color: white;
    /* border: 1px solid green; */
}
.row_gallery{
    /* border: 1px solid green; */
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    /* height: 1800px; */
}
.column {
    display: flex;
    width: 32.33%;
    display: none;
}
.weddings p{
    font-family: montserrat-medium;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.birthday p{
    font-family: montserrat-medium;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.people p{
    font-family: montserrat-medium;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.content {
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    /* border: 1px solid green; */
    /* margin-top: 30px; */
}
.content img{
    object-fit: cover;
}
.image_preview_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    min-height: 45px;
}
.image_content_container{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    margin-bottom: 20px;
    width: 22.3;
    height: 200px;
    object-fit: cover;
    /* border: 1px solid red; */
    margin-left: 10px;
}
.show {
    display: block;
}
.btnm:hover {
    background-color: #ddd;
}

.btnm.active {
    background-color: #BB9441;
    color: white;
}
/* images upload */



/* label {
    display: flex;
    position: relative;
    background-color: #3297db;
    color: #ffffff;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    margin-top: 8px;
} */



.content:hover {
    /* transform: scale(1.04); */
    animation: popUp 0.1s;
    cursor: pointer;
}

/* update button */

.update_button{
    /* border: 1px solid green; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.update_button_container{
    background-color: #3297db;
    padding: 10px;
    width: 15%;
    height: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    margin-left:83.5%;
}
.update_button_container a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: montserrat-bold;
}
.update_button_container:hover {
    /* transform: scale(1.04); */
    animation: popUp 0.1s;
    cursor: pointer;
    border-radius: 4px;
}
/* hover imgaes  */
.gallery_title_navs{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    gap: 10px;
}
.title_navs{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 30px;
    font-family: montserrat-medium;
    color: #424857;
    font-size: 20px;
    /* border: 1px solid red; */
}
.nav_placeholder_gallery{
    font-family: montserrat-medium;
    font-size: 15px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    font-family: heebo;
    width: 30%;
    border: 1px solid #dad9d9;
    border-radius: 4px;
    resize: vertical;
}
input[type=text] {
    font-family: montserrat-medium;
    letter-spacing: 1px;
    padding: 10px;
}
.buttons_gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    /* margin-bottom: 15px; */
    gap: 15px;
}
.gallery_button_conts{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    gap: 10px;
}
.choose_file_container {
    display: none;

}

.choose_upload_container {
    background-color: #2FA83F;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    color: #ffffff;
    font-size: 15px;
    width: 150px;
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
    font-family: montserrat-bold;
    font-size: 15px;
}



input[type=submit] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat-bold;

}
.button_files{
    display: flex;
    /* width: 100%; */
    height: 100%;
    align-items: center;
    margin-left: 30px;
    /* border: 1px solid green; */
    justify-content: center;
}
.file_button {
    background-color: #424857;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-family: montserrat-bold;
    font-size: 15px;
    margin-left: 30px;
    
    /* border: 1px solid red; */
}

.swal2-popup {
    font-size: 0.8rem !important;
    color: #424857 !important;
    background-color: #ffffff !important;
    font-family: "Montserrat-medium" !important;
}

.swal2-styled.swal2-confirm {
    border: 0 !important;
    border-radius: .25em !important;
    background: initial !important;
    background-color: #4BB1F7 !important;
    color: #fff !important;
    font-size: 1em !important;
    font-family: "Montserrat-medium" !important;
}

.swal2-styled.swal2-cancel {
    border: 0 !important;
    border-radius: .25em !important;
    background: initial !important;
    background-color: #FF5D5D !important;
    color: #fff !important;
    font-size: 1em !important;
    font-family: "Montserrat-medium" !important;
}