.admin_right_pane {
    width: 86%;
    padding: 30px;
    background-color: #F8FAFB;
}

.admin_right_pane_content_container {
    min-height: 100px;
    /* border: 1px solid blueviolet; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.admin_room_border {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    min-height: 100px;
    margin-bottom: 30px;
}

.admin_room_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    min-height: 50px;
    background-color: white;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid #dad9d9;
    /* border: 1px solid blue; */
}
.create_room_head {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 15px;
    /* border: 1px solid purple; */
}

.create_room_head p {
    font-family: montserrat-bold;
    font-size: 40px;
    letter-spacing: 1px;
    color: #4BB1F7;
}

.get_room_container {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;

}

.assign_category_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid purple; */
    width: 100%;
}

.choose_category_rooms {
    font-family: montserrat-medium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #424857;
    margin-top: 10px;
    width: 100%;
}

.about_textarea_input {
    display: flex;
    color: #424857;
    letter-spacing: 1px;
    font-family: montserrat-medium;
    background-color: white;
    width: 100%;
    /* height: 40px; */
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #dad9d9;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

.about_textarea_input:focus, .about_textarea_input:active{
    outline: none;
}

.form_create_room {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    align-items: center;
}
.div_create_rooms{
    display: flex;
        flex-direction: row;
        width: 100%;
        height: 45px;
        align-items: center;
        /* border: 1px solid red; */
}
.room_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    /* border: 1px solid purple; */
    /* margin-left: 30px; */
    gap: 5px;
}

.room_number_label {
    /* border: 1px solid green; */
    width: 45%;
    font-family: montserrat-medium;
        font-size: 20px;
        letter-spacing: 1px;
        color: #424857;
}

.Room_number_input {
    font-family: montserrat-medium;
        font-size: 15px;
        letter-spacing: 1px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        font-family: heebo;
        width: 50%;
        height: 15px;
        border: 1px solid #dad9d9;
        border-radius: 4px;
        resize: vertical;
        /* margin-left: 10px; */
}

input[type=number] {
    padding: 10px;
    font-family: montserrat-medium;
    letter-spacing: 1px;
}

.label_container {
    display: flex;
        align-items: center;
        flex-direction: row;
        width: 50%;
        /* border: 1px solid purple; */
        margin-left: 15px;
        gap: 5px;
}

.category_name {
/* border: 1px solid blue; */
    width: 28%;
    justify-content: start;
    font-family: montserrat-medium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #424857;
}

.category_id_cont {
    width: 50%;
    text-align: center;
    padding-left: 5px;
    /* height: 30px; */
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #dad9d9;
    padding: 9px;
    font-family: montserrat-medium;
    color: #424857;
    /* border: 1px solid red; */
}

.category_id_cont:any-link, .category_id_cont:focus, .category_id_cont:active{
    outline: none;
}

.submit_cont {
    display: flex;
    width: 20%;
    justify-content: end;
    /* border: 1px solid brown; */
}

.submit_input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2FA83F;
    height: 30px;
    border: none;
    width: 70%;
    cursor: pointer;
    border-radius: 4px;
}

input[type=submit] {
    font-family: montserrat-medium;
    font-size: 15px;
    color: white;
}
.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalBody {
    background-color: #F8FAFB;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.modal1 {
    width: 30%;
        /* min-width: 400px;
        max-width: 400px; */
        margin: 10% auto;
        /* padding: 25px; */
        /* background-color: white; */
        border: 1px solid #dad9d9;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        /* border: 1px solid red; */
}

.modalHeader {
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #dfdede;
    border-radius: 5px 5px 0 0;
}

.modal1 h2 {
    margin-top: 0;
    font-family: montserrat-bold;
    color: #4BB1F7;
    letter-spacing: 1px;
}

.modal1 input {
    display: block;
    /* margin-bottom: 10px; */
    width: 100%;
    padding: 10px;
}
.submit_button_about {
    display: flex;
        flex-direction: row;
        width: 100%;
        /* height: 80%; */
        gap: 40px;
        align-items: center;
        justify-content: center;
        /* border: 1px solid orangered; */
        margin-top: 20px;
}

.saveButton_about{
    padding: 20px;
    font-family: 'montserrat-bold';
    color: white;
    min-width: 25%;
    border-radius: 5px;
    border: 1px solid #dfdede;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    background-color: #2FA83F;
    cursor: pointer;
}
.cancelButton_about{
    padding: 20px;
        font-family: 'montserrat-bold';
        color: white;
        min-width: 25%;
        border-radius: 5px;
        border: 1px solid #dfdede;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
        background-color: #FF5D5D;
        cursor: pointer;
}



/* .saveButton_about {
    display: flex;
        width: 30%;
        height: 35px;
        align-items: center;
        justify-content: center;
        background-color: #2FA83F;
        border: none;
        border-radius: 4px;
        font-family: montserrat-bold;
        font-size: 16px;
        cursor: pointer;
        color: white;
} */

/* .cancelButton_about {
    display: flex;
        width: 30%;
        height: 35px;
        align-items: center;
        justify-content: center;
        background-color: #FF5D5D;
        border: none;
        border-radius: 4px;
        font-family: montserrat-bold;
        font-size: 16px;
        cursor: pointer;
        color: white;
} */
.form_container_about {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
}

.about_text_container input {
width: 94%;
/* border: 1px solid red; */
}
.assign_room_container_input{
    display: flex;
        border: 1px solid #dad9d9;
        border-radius: 4px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        width: 100%;
        background-color: white;
        height: 20px;
        padding: 10px;
        font-family: montserrat-medium;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
}

input[type=text] {
    font-family: montserrat-medium;
    letter-spacing: 1px;
    text-align: center;
}
input:focus,input:active{
    outline: none;
}
.assign_room_container{
    font-family: montserrat-medium;
    font-size: 20px;
    letter-spacing: 1px;
    color: #424857;
}
.modalLine {
    margin-top: 5px;
    width: 17%;
    height: 2px;
    background-color: #BB9441;
}
.close {
    color: #BDBDBD;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #F27171;
    text-decoration: none;
    cursor: pointer;
}
.assign_room_input_edit{
    display: flex;
        border: 1px solid #dad9d9;
        border-radius: 4px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        width: 100%;
        background-color: white;
        height: 20px;
        padding: 10px;
        font-family: montserrat-medium;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 20px;
}
.swal2-popup {
    font-size: 0.8rem !important;
    color: #424857 !important;
    background-color: #ffffff !important;
    font-family: "Montserrat-medium" !important;
}

.swal2-styled.swal2-confirm {
    border: 0 !important;
    border-radius: .25em !important;
    background: initial !important;
    background-color: #4BB1F7 !important;
    color: #fff !important;
    font-size: 1em !important;
    font-family: "Montserrat-medium" !important;
}

.swal2-styled.swal2-cancel {
    border: 0 !important;
    border-radius: .25em !important;
    background: initial !important;
    background-color: #FF5D5D !important;
    color: #fff !important;
    font-size: 1em !important;
    font-family: "Montserrat-medium" !important;
}