#gold_highlighter{
    color: #BB9441;
}

.data_overview_header_container{
    margin: 0 auto;
}

#data_overview_header{
    text-align: center;
    font-family: 'montserrat-bold';
    font-size: 45px;
    color: #3b414e;
}

.admin_charts_container{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.chart_container {
    width: 32%;
    border: 1px solid #dad9d9;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #f1f1f1;
    height:300px;
    display: flex;
    flex-direction: column;
}

.chart_container:hover{
    transform: scale(1.01);
    animation: popUp 0.2s;
    cursor: pointer;
}

.actual_chart{
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #E8E8E8;
    background-color: WHITE;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.chart_details_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

#chart_titles{
    font-family: 'montserrat-medium';
    font-size: 15px;
    padding-right: 5px;
}

.charts_button{
    font-family: 'montserrat-medium';
    padding: 8px 11px;
    border-radius: 4px;
    border: #E8E8E8;
    background-color: #4BB1F7;
    float: right;
    color: white;
}

.charts_button:hover{
    background-color: #3297db;
    cursor: pointer;
}

.chart_icon{
    width: 90%; 
    height: 90%;
}

.admin_filterby_container{
    background-color: white;
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #dad9d9;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.filter_by_container{
    width: 38%;
}

.range_picker_container{
    width: 38%;
    
}

.filtering_labels{
    font-family: 'Montserrat-Bold';
    color: #3b414e;
    text-align: center;
}

.admin_filter_drop_container, .datePickerInput{
    width: 100%;
    padding: 7px 0;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#date, #time{
    font-family: "Montserrat-Light";
    font-size: 13px;
    color: #7a7a7a;
    margin-bottom: 4px;
}

.date_time_container span{
    color: #7a7a7a;
    margin-left: 10px;
    font-size: 13px;
}

.date_time_container{
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
}

.date_container, .time_container{
    display: flex;
    justify-content: flex-end;
}

/* Modal

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    width: 70%; /* Could be more or less, depending on screen size */
    height: 75%;
    border: 1px solid #dfdede;
    border-radius: 7px 7px 7px 7px;
    background-color: white;
    font-size: larger ;
}

/* The Close Button */
.close {
    color: #c2c2c2;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #F27171;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader{
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #dfdede;
    border-radius: 5px 5px 0 0;
}

.modalHeader h1{
    font-family: 'montserrat-bold';
    color: #4BB1F7;
    font-size: 23px;
}

.textArea {
    margin-top: 10px;
    background-color: #F1F1F1;
    border-radius: 5px;
    font-family: 'montserrat-regular';
    padding: 10px;
    border: none;
}

.modalLine{
    margin-top: 5px;
    width: 8%;
    height: 2px;
    background-color: #BB9441;
} 

#modal_body{
    width: 80%; 
    margin: 6% auto;
    height: 60%;
    /* border: 1px solid red; */
}

@media (max-width: 1500px){
    #admin_icon{
        display: none;
    }

    /* .chart_container {
        height: 300px;
    } */

    .actual_chart{
        height: 250px;
    }

    .chart_details_container{
        margin-top: 7px;
        padding: 0 10px;
    }

    #chart_titles{
        font-size: 12px;
    }

    .sec_row_chart_icon{
        width: 70%;
    }

    /* #modal_body{
        height: 405px;
    } */
    /* .modal-content{
        height: 600px;
    } */
}

@media (max-width: 1350px){
    .admin_right_pane_content_container{
        margin-top: 30px;
    }

    .sec_row_chart_icon{
        width: 80%;
    }
}

@media (max-width: 1300px){
    #admin_tab_short_text{
        display: block;
        margin-left: 5px;
    }

    #admin_tab_text{
        display: none;
    }

    .admin_tab_logo_container{
        width: 30%;
    }
}

@media(max-width: 1350px){
    #admin_header_logo{
        width: 80%;
    }

    .admin_logout_icon_pane{
        padding: 20px 10px;
    }

    .admin_logout_icon_container{
        width: 15%;
    }

    #admin_name_header{
        text-align: center;
    }

    .admin_tab_logo_container{
        width: 20%;
    } 
}

@media (max-width: 1177px){
    /* .chart_container{
        width: 48%;
    } */
}

@media(max-width: 1150px){
    .admin_navigation_logo_container{
        margin: auto;
    }

    .admin_right_navigation_tabs_container{
        flex-direction: column;
        margin: 20px 0;
    }

    .admin_navigation_tab_logo_container{
        position: relative;
        margin-bottom: 10px;
    }

    .admin_tab_text_container{
        margin-left: 0;
        text-align: center;
    }

    #admin_left_pane_content_management{  
        padding: 20px 10px;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 1100px){
    #admin_header_logo{
        padding: 5px;
        width: 90%;
    }
}

/* FOR TABS */
@media(max-width: 1050px){
    .admin_logout_icon_container{
        width: 23%;
    }

    .admin_navigation_tab_logo_container{
        width: 30%;
    }

    .admin_navigation_tabs_container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px){
    .admin_left_pane, .admin_navigation_logo_container{
        width: 17%;
    }
    .admin_right_pane, .admin_right_navigation_tabs_container{
        width: 83%;
    }
}

@media(max-width: 880px){
    #admin_left_pane_content_management{
        display: none;
    }

    #admin_left_pane_content_short_management{
        text-align: center;
        font-family: 'montserrat-medium';
        color: black;
        border-top: 1px solid #e8e8e8;
        margin-top: 20px;
        padding: 20px;
        font-size: 15px;
        display: block;
    }
}

@media (max-width: 830px){
    .admin_navigation_tab_logo_container{
        width: 35%;
    }
}

@keyframes popUp {
    15% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
}
  
  